@import "../../node_modules/bulma/sass/utilities/_all.sass";

$modal-background-background-color: rgba(255, 255, 255, 0.85);
$input-color: #717171;
$modal-card-body-border-color: darken($background, 5%);
$app-color: #5faac7;
$floating-circular-bottom: 30px;
$modal-card-body-padding: 20px;
$media-shadow-1: 0 0.5em 1em -0.125em;
$media-shadow-2: 0 0px 0 1px;
