@import "./variables";

:root {
  --app-color: #5faac7;
  --modal-content-width: 450px;
  --warning-bg-color: #ffdd57;
  --warning-border-color: #eabc0a;
  --warning-close-bg-color: #d6b842;
  --warning-text-color: #3c3939;
  --error-bg-color: #ffdce0;
  --error-border-color: #c5adb0;
  --error-close-bg-color: #e8a0a8;
  --error-close-border-color: #c17b83;
  --minimum-radius: 3px;
  --btn-border-neutral-color: #afafaf;
  --light-blue-border: #d0e6ef;
  --close-width: 50px;
  --header-height: 60px;
  --header-z-index: 30;
  --body-padding-top: calc(var(--header-height) + 10px);
  --app-root-height: calc(100vh - var(--body-padding-top));
}

@import "../../node_modules/bulma/bulma.sass";

html,
body {
  overflow-x: hidden;
}

body {
  padding-top: var(--body-padding-top) !important;
}

.app-root {
  padding-top: 5px !important;
  min-height: var(--app-root-height);
  position: relative;
}
