@import "../../styles/variables";

$part-shadow: 0 1px var(--blur-radius);

.app-header {
  --blur-radius: 4px;
  height: var(--header-height);
  z-index: var(--header-z-index);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: white;
  margin: 0;
  box-shadow: $part-shadow var(--app-color);

  .logo {
    height: calc(var(--header-height) - 15px);
    margin-left: 10px;
    margin-top: 8px;
  }
}
